# make a copy, rename to .env and fill in appropriate values
SECRET_KEY=76ajkf9d4uvpz048i33secreth0ludihov8fzcdb49bsecretlein5a34m
DATABASE_URL=postgresql://postgres:@localhost/tuzimbe_dev
DEBUG=False